*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 20px;
}

.container1, .container2{
    width: 1300px;
    margin: auto;
}

.item{
    width: 430px;
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
}

.img >.heart{
    position: absolute;
    top: 15px;
    right: 0;
    padding: 5px 10px;
    background-color: #FFF;
    font-size: 24px;
}

.item > .heart{
    position: absolute;
    right: 3%;
    top: 2%;
    background-color: white;
    font-size: 30px;
    width: 50px;
    text-align: center;
}

.img{
    height: 600px;
}

.img-over{
    height: 600px;
    position: absolute;
    left: 0;
}

.img:hover{
    position: relative;
}

.item > .discount, .sost{
    position: absolute;
    bottom: 10%;
    left: 0;
    background-color: red;
    color: white;
    padding: 4px;
    font-weight: bold;
    font-size: 10px;
}

.sost{
    position: absolute;
    bottom: 10%;
    left: 8%;
    background-color: green;
    color: white;
    padding: 4px;
    font-weight: bold;
    font-size: 10px;
}

.marca{
    color: grey;
    font-size: 12px;
}

.info{
    font-weight: bold;
}

.prezzo-nuovo{
    color: red;
    margin-right: 5px;
}

.prezzo-vecchio{
    text-decoration: line-through
}

.item > .testo{
    margin-top: 5px;
}

#sostenibilità{
    position: absolute;
    bottom: 10%;
    left: 0;
    padding: 4px;
    font-weight: bold;
    font-size: 10px;
}